<table class="table-condensed">
<tr>
  <th><%= label_tag(:account_number) %></th>
  <td><%= text_field_tag(:account_number) %></td><br>
</tr>
<tr>
  <th><%= label_tag(:balance) %></th>
  <td><%= text_field_tag(:balance) %></td><br>
</tr>
</table>
