<table class="table-condensed">
<tr>
  <th><%= f.label(:account_number) %></th>
  <td><%= f.text_field(:account_number) %></td><br>
</tr>
<tr>
  <th><%= f.label(:balance) %></th>
  <td><%= f.text_field(:balance) %></td><br>
</tr>


</table>
